*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)), url(images/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 1em;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #1f8ede;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.4s;
}
.navbar ul li:hover::after{
    width: 100%;

}
.logo{
    width: 80%;
    cursor: pointer;
    filter: drop-shadow(5px 5px 10px rgb(76, 97, 73, 0.8))
}
.slider{
    background: #1a2587;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    width: 960px;
    height: 360px;
    border-radius: 10px;
    overflow: hidden;
}
.slides{
    display: flex;
    width: 500%;
    height: 360px;
}
.slides input{
    display: none;
}
.slide{
    width:20%;
    transition: 2.5s;
}
.slide img{
    width: 960px;
    height: 360px;
}
.navigation-user{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    margin-left: 70px;
    display: flex;
    justify-content: center;
}
.btn-user{
    border: 2px solid #475aff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.75s;
}
.btn-user:not(:last-child){
    margin-right: 50px;
}
.btn-user:hover{
    background-color: #475aff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}

.content{
	text-align: center;
	position: absolute;
	color: white;
	width: 100%;
}
	
.content h1{
	font-size: 50px;
	margin-top: 250px;
	line-height: 20px;
	text-shadow: 0 0 20px #fff;
}
.content p{
	margin: 20px auto 5em;
	font-weight: 100;
	line-height: 25px;
}
.content table{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
    border-spacing: 30px 20px;
}
.content th{
	color: #28d17f;
    font-size: 25px;
}
